{% extends 'template_base.html' %}
{% block content %}

<div id="title-form">
    <h2 class="fw-bolder">{{title}}</h2>
    {% block subtitle %}
    {% endblock %}

</div>

{% block datos %}
{% endblock %}

<div id="div-form">
    <form id="Form-form" method="POST" onsubmit="return submitForm(this);">
        {% csrf_token %}

        <input type="hidden" name="action" value="{{ action }}">

        {% for field in form.visible_fields %}

        {% block conditional %}

        {% endblock %}

        <div class="form-group">
            {{ field }}
        </div>
        <div class="form-floating mb-3"></div>
        {% endfor %}


        <!-- Submit Button-->
        <div class="d-grid">
            <button class="btn btn-primary btn-lg btnTest" id="submitButton" type="submit">Guardar <i
                    class="bi bi-upload"></i></button>
        </div>
    </form>
</div>




<script>
    $(function (){
    $('form').on('submit', function (e) {
        e.preventDefault();
        var parameters = $(this).serializeArray();
        $.ajax({
            url: '{% url "category_add" %}',
            type: 'POST',
            data: parameters,
            dataType: 'json'
        }).done(function (data) {
            if (!data.hasOwnProperty('error')){
                location.href = '{{ url }}';
                return false;
            }
        }).fail(function (jqXHR, textStatus, errorThrown) {
            alert(textStatus + ' - ' + errorThrown);
        }).always(function (data) {
        });
    });
})
</script>


<!----------------------SWAL ERRORES--------------------------------------->
{% if form.errors %}
    <script>
        var errors = '';
    </script>

    {% for field in form %}
        {% for error in field.errors %}
            <script> errors += '{{ error }}'</script>
        {% endfor %}
    {% endfor %}
<script>
    Swal.fire({
        title: 'Error!',
        text: errors,
        icon: 'error'
    });
</script>
{% endif %}
<!----------------------SWAL ERRORES--------------------------------------->



{% endblock %}