{% extends 'template_base.html' %}
{% load static %}


{% block content %}
<div class="list card-default">
    <div class="card-header">
        <h3 class="list-title">{{title}}</h3>
        <h3 class="list-subtitle">{{subtitle}}</h3>
    </div>

    {% block title %}
    {% endblock %}


    <div class="card-body-list">
        <table class="table list-body" id="tabla">
            <thead>
                {% block columns %}
                {% endblock %}
            </thead>
            <tbody id="tabla-datos">
                {% block rows %}
                {% endblock %}
            </tbody>
        </table>
    </div>

    {% block buttom %}
    {% endblock %}

</div>

{% endblock %}

{% block foot %}
{% endblock %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>


<script type="application/javascript">
    $(document).ready(function () {
        $('#tabla').DataTable({
            "language": {
                url: "{% static 'lib/datatables-1.10.20/spanish.txt' %}"
            },
            responsive: true,
            dom: 'Bfrtilp',
            order: [[0, 'desc']],
            buttons: [{
                extend: 'excelHtml5',
                text: '<i class="bi bi-file-earmark-excel"></i>',
                titleAttr: 'Exportar a Excel',
                className: 'btn btn-success',
            }],
        });
        $('.btnTest').on('click', function () {
            $.ajax({
                url: '{% url "category_list" %}',
                type: 'POST',
                data: {id:1},
                dataType: 'json'
            }).done(function (data) {
                console.log(data);
            }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(textStatus+ ' - '+ errorThrown);
            }).always(function (data) {
            });
        });
    });
</script>
{% endblock %}