<nav class="nav-menu navbar">
    <ul class="">

        <a class="btn btn-toggle dropdown-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#cajas"
            data-toggle="dropdown" aria-expanded="true" aria-haspopup="true"><i
                class="bi bi-folder-fill"></i><span>Opcion 1</span></a>

        <div class="collapse" id="cajas">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                <a href="#"><i class="bi bi-dot"></i>Algo</a>

                <!------------------------------------------------------------------->
                <a class="btn btn-toggle dropdown-toggle collapsed" data-bs-toggle="collapse"
                    data-bs-target="#planillascalculo" data-toggle="dropdown" aria-expanded="true"
                    aria-haspopup="true"><i class="bi bi-dot"></i><span>Listados</span></a>

                <div class="collapse" id="planillascalculo">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                        <li><a href="{% url 'category_list' %}"></i>Listado 1</a></li>
                        <li><a href="#">Listado 2</a></li>
                    </ul>
                </div>

                <!------------------------------------------------------------------->
            </ul>
        </div>



    </ul>
</nav>
<!-- .nav-menu -->