<div class="nav-menu session">
    <ul class="navbar-nav">
        <li class="nav-item dropdown">
            <a class="btn btn-toggle dropdown-toggle collapsed" data-bs-toggle="collapse" data-bs-target="#sesion"
                data-toggle="dropdown" aria-expanded="true" aria-haspopup="true"
                style="color: rgb(246, 250, 32);"><span>{{request.session.group.name }}</span></a>
            <div class="collapse" id="sesion">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                    {% for sesion in request.user.groups.all %}
                    {% if sesion.id != request.session.group.id %}
                    <li><a href="{% url 'sesion_group' sesion.id %}">{{sesion.name}}</a></li>
                    {% endif %}
                    {% endfor %}

                </ul>
            </div>
        </li>
    </ul>
</div>