<nav class="nav-menu navbar">
    <ul class="">

    <a class="btn btn-toggle" aria-expanded="true" aria-haspopup="true"><i class="bi bi-folder-fill"></i><span>Categorias</span></a>
    <a class="btn btn-toggle" aria-expanded="true" aria-haspopup="true"><i class="bi bi-folder-fill"></i><span>Productos</span></a>
    <a class="btn btn-toggle" aria-expanded="true" aria-haspopup="true"><i class="bi bi-folder-fill"></i><span>Clientes</span></a>
    <a class="btn btn-toggle" aria-expanded="true" aria-haspopup="true"><i class="bi bi-folder-fill"></i><span>Ventas</span></a>




    </ul>
</nav>
<!-- .nav-menu -->